version: '3.8'
services:
  db:
    image: postgres:latest
    environment:
      POSTGRES_USER: admin
      POSTGRES_PASSWORD: password
      POSTGRES_DB: tea-api
    networks:
      - my_network
    ports:
      - '5433:5432'
    volumes:
      - ./db_data:/var/lib/postgresql/data

volumes:
  db_data:
networks:
  my_network: